/*
Layout / navbar / footer 
*/
html,
body,
.container-fullwidth {
  min-height: 100vh;
}
.container {
  /* center contents */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
@media (min-width: 886px) {
  #nav-list {
    transform: translate(-96px, 0px);
  }
}
.navbar-header {
  margin-right: 0px;
}
.back {
  width: 100%;
  height: 100%;
}
.nav-pad {
  padding-right: 0px !important;
}
/* Override default navbar.less radius of 4px */
.navbar {
  border-radius: 0px !important;
}
.col-centered {
  float: left;
  margin: 0 auto;
}
.col-center-right {
  float: left;
}
/* #date-form {
  float: center;
  max-width: 200px;
} */
.main-nav-item:hover,
.footer-link:hover {
  /* background-color: #3b10d4 !important; */
  background-color: rgba(13, 3, 76, 1) !important;
  color: #fbbb13;
  /* font-size: 16px; */
}
.footer-link:hover,
.footer-link:active,
.footer-link:focus {
  text-decoration: none;
  color: #fbbb13;
}

.float {
  float: right;
  font-size: 12px;
  color: white;
}

/*color for layout background*/
.feather {
  background-image: linear-gradient(to bottom right, white, #fdce55);
}
.question-titles {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: #0d034c;
}
.titles {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #0d034c;
  -webkit-transition: background-color 1s; /* Safari */
  transition: background-color 1s;
}
.register-pass-requirements {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: #0d034c;
}

#titlesb {
  font-family: Raleway, Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
}

/* register-content valid and invlad for register page */
.gear {
  -o-transition: all 0.35s linear;
  -moz-transition: all 0.35s linear;
  -webkit-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
.gear.rotate {
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
main,
.form-control {
  /* center form controls */
  display: inline-block;

  /* override Bootstrap's 100% width for form controls */
  width: auto;
}
.register-content {
  margin-top: 10%;
}
.valid {
  /* color: white;
  font-size: 12px; */
  display: none;
}
.invalid {
  /* color: white; */
  font-size: 12px;
  display: block;
}
footer {
  position: relative;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  background-color: #0d034c;
}
.footer-link,
.footer-link:visited {
  color: white;
  text-decoration: none;
}
.footer-link:hover {
  text-decoration: none;
}
.footer-ele-pad {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
  }
}
/* for index page / main page */
.main-card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  -ms-animation-duration: 1s;
  animation-duration: 1s;
  overflow: hidden;
  -webkit-transition: box-shadow 0.7s;
  -moz-transition: box-shadow 0.7s;
  -o-transition: box-shadow 0.7s;
  transition: box-shadow 0.7s;
}

.main-card:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width: 991px) {
  .main-card {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px 20px 10px 20px;
  }
}
/*Override date picker default top margin */
@media only screen and (min-height: 33.875em) {
  .picker--opened .picker__frame {
    top: 20% !important;
  }
}
/* main-card to be same within each row
 but will break bootstrap when it needs to reconcile col ( md-6 = 992 )*/
@media (min-width: 992px) {
  .normalize-height {
    display: flex;
  }
  .main-card {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
  }

  .card-margin2 {
    margin-left: 10px;
  }
}
/* fade animations for index main-cards */
@-webkit-keyframes fade-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-moz-keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-ms-keyframes fade-in-left {
  0% {
    opacity: 0;
    -ms-transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-o-keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-out-right {
  -webkit-transition: transform 1s, opacity 1s;
  -moz-transition: transform 1s, opacity 1s;
  -o-transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  opacity: 0;
  -ms-transform: translateX(+30%);
  -moz-transform: translateX(+30%);
  -webkit-transform: translateX(+30%);
  transform: translateX(+30%);
}
.fade-out-left {
  -webkit-transition: transform 1s, opacity 1s;
  -moz-transition: transform 1s, opacity 1s;
  -o-transition: transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  opacity: 0;
  -ms-transform: translateX(-30%);
  -moz-transform: translateX(-30%);
  -webkit-transform: translateX(-30%);
  transform: translateX(-30%);
}

.fade-in-left {
  -webkit-animation-name: fade-in-left;
  -moz-animation-name: fade-in-left;
  -ms-animation-name: fade-in-left;
  -o-animation-name: fade-in-left;
  animation-name: fade-in-left;
}
@media (min-width: 992px) {
  .normalize-height {
    display: flex;
  }
}
.normalize-height {
  margin-left: -25px;
}
/* fade animations for index main-cards */
@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(+30%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
  }
}
@-moz-keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(+30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@-ms-keyframes fade-in-right {
  0% {
    opacity: 0;
    -ms-transform: translateX(+30%);
  }
  100% {
    opacity: 1;
    -ms-transform: translateX(0);
  }
}
@-o-keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(+30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(+30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fade-in-right {
  -webkit-animation-name: fade-in-right;
  -moz-animation-name: fade-in-right;
  -ms-animation-name: fade-in-right;
  -o-animation-name: fade-in-rignt;
  animation-name: fade-in-right;
}
.button {
  text-decoration: none;
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: #0d034c;
  background-color: white;
  color: #0d034c;
  text-align: center;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: background-color 0.4s, color 0.4s, border-color 0.4s; /* Safari */
  transition: background-color 0.4s, color 0.4s, border-color 0.4s;
}
.button1:hover {
  background-color: #0d034c;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#next-button {
  margin-top: 5vh;
}
#next-arrow {
  padding-left: 0px;
  -webkit-transition: padding-left 0.5s;
  -moz-transition: padding-left 0.5s;
  -o-transition: padding-left 0.5s;
  transition: padding-left 0.5s;
}
.card-margin1 {
  border: 2px solid #0d034c;
}
.card-margin2 {
  border: 2px solid #0d034c;
}
.helper-screen {
  min-height: 70vh;
}
.entree-options {
  margin: 5px 0px;
}
#selected-food {
  margin-bottom: 50px;
}
.entree-item {
  margin: 5px 0px;
  padding: 10px;
  border-radius: 10px;
  border: 1px #0d034c solid;
  background-color: white;
  font-size: 15px;
}
.entree-item:hover {
  cursor: pointer;
  color: white;
  background-color: #0d034c;
}
.entree-item {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  min-height: 75vh;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.manage-dates-table {
  width: 90%;
  margin: 5px 20px;
  text-align: center;
  border-bottom: 1px solid;
}
.manage-dates-table th {
  border-bottom: 1px solid;
  text-align: center;
}
#dates-selected p:hover {
  color: white;
  background-color: #0d034c;
}
