{% extends "layout.html" %} {% block title %} Confirm Cart {% endblock %} {%
block head %}
<script>
  Flask.url_for("confirmCart");
</script>

{% endblock %} {% block main %}
<div id='page' class="container-fluid">
  <div class="row">
    <div
      id="button2"
      style="-webkit-animation-duration: 1s; animation-duration: 1s;"
      class="col-xs-6 col-xs-offset-2 fade-in-left"
    >
      <button
        id='back-to-menu'
        class="button button1">
        <span id="back-arrow" class="glyphicon glyphicon-menu-left"></span> Back
        To Menu
      </button>
    </div>
  </div>
  <div id='order-summary' class="row">
    <div class="col-sm-10 sm-offset-1 main-card question-titles">
      <h4 class="confirm-cart-titles">Order Summary:</h4>
      <div class="row" style="margin-left: 20px; margin-bottom: 30px;">
        Date:   <input
        class="form-control"
        type="text"
        name="date"
        placeholder="None"
        id="datepicker"
      />
      </div>
      <div class="row" style="margin-left: 20px; margin-bottom: 30px;">
        Order:
        <div id="my-cart"></div>
      </div>
      <div class="row" style="margin-left: 20px;">
        Base: $<span id="cart-base"></span>
      </div>
      <div class="row" style="margin-left: 20px;">
          Tax: $<span id="cart-tax"></span>
      </div>
      <div class="row" style="margin-left: 20px; margin-bottom: 30px;">
        Total: <strong>$<span id="cart-total"></span></strong>
      </div>
      <div style='padding:20px;'class="row">
        <h4 class="confirm-cart-titles">Additional Information</h4>
        <div class="row">
          <div class="col-xs-12 col-lg-8">
            <label for="additional-comments">Please leave any additional comments or requests:</label><br/>
            <textarea style='width:100%'name="additional-comments" cols="10" rows="6"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 sm-offset-1 main-card">
      {% if session.user_id %}
      <script type="text/javascript">window.id = true</script>
      <h4><span class="confirm-cart-titles"
        >Logged in as</span> {{ session.user_name }}</h4>
      {% elif session.confirmation_code %}
      <script type="text/javascript">window.id = true</script>
      <h4>Your Confirmation Code is: <span class="red-title">{{ session.confirmation_code }}</span></h4>
      <p>*Use this code for referencing your order in the future*</p>
      {% else %}
      <script type="text/javascript">window.id = false</script>
      <div id='register-login-section' style="padding:20px 20px;" class="row">
        <h4>
          <span class="confirm-cart-titles"
            >Please Register or Log In to Continue
          </span>
        </h4>
        <!-- <div
          style="margin-bottom:30px;"
          class=" col-sm-offset-2 col-xs-8 col-xs-custom-offset-2 col-md-6"
        > -->
        <div id='login-form' class="col-xs-12 col-md-6 confirm-cart-form hidden">
          <fieldset>
            <div style='color:#de4621;' id="login_error"></div>
            <div class="form-group">
              <input
                autocomplete="off"
                autofocus
                class="form-control"
                name="login_username"
                placeholder="Username or Email"
                type="text"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                name="login_password"
                placeholder="Password"
                type="password"
                required
              />
            </div>
            <div class="form-group">
              <button id='request-login' class="button button1">
                Log In
              </button>
            </div>
          </fieldset>
        </div>
        <!-- <div class="col-sm-offset-2 col-xs-8 col-xs-custom-offset-2 col-md-6"> -->
        <div id='register-form' class="col-xs-12 col-md-6 confirm-cart-form hidden">
          <fieldset>
            <div style='color:#de4621;'id="register_error"></div>
            <div class="form-group">
              <input
                autocomplete="off"
                autofocus
                class="form-control"
                name="register_username"
                placeholder="Username"
                type="text"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                name="email"
                placeholder="Email"
                type="text"
                required
              />
            </div>
            <p>Password requires: a lowercase letter, uppercase letter, a number, minimum 8 characters</p>
            <div class="form-group">
              <input
                class="form-control"
                id="psw"
                name="register_password"
                placeholder="Password"
                type="password"
                required
              />
            </div>
            <div class="form-group">
              <input
                class="form-control"
                name="confirm-password"
                placeholder="Confirm Passowrd"
                type="password"
                required
              />
            </div>
            <small style="color: #0d034c;font-size: 10px;"
            >By clicking Register, you agree to our <a href="{{ url_for('terms_and_conditions') }}">Terms</a> and
            that you have read our <a href="{{ url_for('privacy_policy') }}">Data Use Policy.</a></small
          >
            <div class="form-group">
              <button

                class="button button1"
                id='request-register'
              >
                Register
              </button>
            </div>
          </fieldset>
        </div>
        <div id='login-register-guest' class='row'>
          <div class="col-xs-10 col-xs-offset-1">
            <h4>Would you like to:</h4>
            <div class="row">
              <div id='login'class="col-sm-4 col-md-3">
                <button id='show-login' class='button button1 confirm-cart-login-button'>Login</button>
              </div>
              <div id='register'class="col-sm-4 col-md-3">
                <button id='show-register' class="button button1 confirm-cart-login-button">Register</button>
              </div>
              <div class="col-sm-4 col-md-3">
                <button id='continue-as-guest' class="button button1 confirm-cart-login-button">Continue As Guest</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 sm-offset-1 main-card">
      <h4 class="confirm-cart-titles">Details</h4>
      <div class="col-sm-6 confirm-cart-form">
        <h4>Contact:</h4>
        <fieldset>
          <div id="register_error"></div>
          <div class="form-group">
            <input
              autocomplete="off"
              autofocus
              class="form-control required"
              name="orderName"
              placeholder="Full Name"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <input
              class="form-control digits-only required"
              name="orderPhone"
              placeholder="Phone Number"
              type="tel" required="" autocomplete="tel"
              required
            />
          </div>
          <div class="form-group">
              <input
                class="form-control required"
                name="orderEmail"
                placeholder="Email"
                type="text"
                required
              />
            </div>
        </div>
        <div class="col-sm-6 confirm-cart-form">
          <h4>Address:</h4>
          <div class="form-group">
            <input
              class="form-control required"
              name="orderAddress"
              placeholder="Event Address"
              type="text"
              required
            />
          </div>
          <div class="form-group">
            <input
              class="form-control required"
              name="orderCity"
              placeholder="City"
              type="text"
              required
            />
          </div>
          <div class="form-group">
              <input
                class="form-control digits-only required"
                name="orderZipcode"
                placeholder="Zipcode"
                type="text"
                required
              />
            </div>
        </fieldset>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 sm-offset-1 main-card">

      <h4><span class="confirm-cart-titles">Payment / Billing </span><br/>*please disable any adblock extension for payment processor to work *</h4>
      <div class="row">
        <div class="col-sm-12 col-md-offset-2 col-md-8 col-lg-6 col-lg-offset-3">
          <div id="billing-error"></div>
          <h4>Billing same as event address: <input type="checkbox" id="billingCheckbox"/></h4>  
          <fieldset id='billingFieldset'>
            <div class="confirm-cart-form">
              <div class="form-group">
                <input
                  class="form-control"
                  name="billingAddress"
                  placeholder="Street"
                  type="text"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  class="form-control"
                  name="billingCity"
                  placeholder="City"
                  type="text"
                  required
                />
              </div>
            </div>
          </fieldset>
          <form id="payment-form">
          <div class="form-row">
            <label for="card-element">
              Credit or debit card
            </label>
            <div id="card-element">
              <!-- A Stripe Element will be inserted here. -->
            </div>

            <!-- Used to display Element errors. -->
            <div id="card-errors" role="alert"></div>
          </div>
        </form>
        </div>
      </div>
          <!-- <button>Submit Payment</button> -->
      <div class="row">
          <div class="col-xs-12 col-sm-10 sm-offset-1 main-card hidden" id='place-order-error' style='text-align: center; color: #0d034c;'></div>
          <div id='place-order-button'><button id='place-order' class='button button1 place-order-button'>Place Order</button></div>
    </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='libraries/datepicker.js') }}"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='libraries/defaultcompressed.css') }}"
/>
<script src="https://js.stripe.com/v3/"></script>
<script src="{{ url_for('static', filename='compiled/confirmCart.js') }}"></script>
<style>
  @media (max-width: 320px) {
    .col-xs-custom-offset-2 {
      margin-left: 0px !important;
    }
  }
  @media (max-width: 768px) {
    .col-xs-custom-offset-2 {
      margin-left: 16.66666667%;
    }
  }

  @media (max-width: 991px) and (min-width: 460px) {
    #my_cart {
      margin-left: 0% !important;
    }
  }
  .processing-button{
    color:white;
    background-color: rgba(13, 3, 76, 0.8);
  }
  .glyphicon-repeat {
    animation: process 2s infinite;
    animation-timing-function: linear;
  }
  @keyframes process {
    0%{
      transform: rotate(0deg);
    }
    100%{
      transform: rotate(360deg);
    }
  }
</style>
{% endblock %}
