{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
head %}
<script>
  Flask.url_for("index");
</script>
{% endblock %} {% block main %}
<div id="modalHolder"></div>
<div id="main-planner-page" class="container">
  <div id="top-message" class="row normalize-height">
    <div id="card1" class="col-md-10 col-md-offset-1 main-card fade-in-right">
      <h4>Thanks for choosing Taco Lindo!</h4>
      <h4>Lets plan your event!</h4>
    </div>
  </div>
  <div id="event-planner" class="row normalize-height">
    <div id="card2" class="col-md-10 col-md-offset-1 main-card fade-in-left">
      <h4>What day will your event be?</h4>
      <div id="date-form" class="form-group">
        <input
          class="form-control"
          type="text"
          name="date"
          placeholder="None"
          id="datepicker"
        />
      </div>
    </div>
  </div>
  <div id="need-phone" class="row normalize-height">
    <div id="card3" class="col-md-10 col-md-offset-1 main-card fade-in-right">
      <h4>
        If your date is unavailable or less than 24 hours in advance, give us a
        call:
      </h4>
      <a style="color:#0d034c;" href="tel:+1-856-214-3413">(856)-214-3413</a>
    </div>
  </div>
  <div id="people-num" class="row normalize-height">
    <div id="card4" class="col-md-10 col-md-offset-1 main-card fade-in-left">
      <h4>How many people will be at your event?</h4>
      <div class="form-group">
        <h5>
          Adults: <input id="numAdults" name="adults" class="form-control" />
        </h5>
      </div>
      <div class="form-group">
        <h5>
          &nbsp;&nbsp;&nbsp;&nbsp;Kids:
          <input id="numKids" name="kids" class="form-control" />
        </h5>
      </div>
    </div>
  </div>
  <div id="select-menu" class="row normalize-height">
    <div
      id="card2"
      class="col-md-10 col-md-offset-1 main-card fade-in-left helper-screen question-titles"
    >
      <h4 id="number-rec"></h4>
      <div class="row">
        <div class="col-md-4">
          <h3 class="main-menu-headers">Entrees</h3>
          <div id="entree" class="row"></div>
          <h3 class="main-menu-headers">Sides</h3>
          <div id="side" class="row"></div>
        </div>
        <div id="selected-food" class="col-md-8">
          <h3 class="main-menu-headers">Selected Items</h3>
          <div id="my-cart" class="row"></div>
        </div>
      </div>
      <div
        id="checkoutButton"
        class="button button1 checkout-button col-xs-5 col-sm-3"
      >
        Checkout
      </div>
    </div>
  </div>
  <div id="next-button" class="row normalize-height hidden"></div>
  <div id="help-or-no" class="row normalize-height">
    <div id="card9" class="col-md-10 col-md-offset-1 main-card fade-in-right ">
      <h4>
        Not sure how much to order? We'd love to help!
      </h4>
      <h4>
        Click the button below to show or hide helper messages on the menu.
      </h4>
    </div>
  </div>
  <div id="help-or-no-buttons" class="row normalize-height">
    <div
      id="amount-help"
      class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 button button1 main-card fade-in-right"
    >
      <h4>Show Amount Help</h4>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='datepicker.js') }}"></script>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='defaultcompressed.css') }}"
/>
<script type="text/javascript">
  const DEFAULT_MIN = 8;

  class MenuItem{
    constructor(itemDictionary){
      this.environ = itemDictionary;
      this.notSelectKeys = new Set(["name" , "description", "_id", "type"]);
    }

    button = function(){
      return `<div id="${this.getId()}"
                class="entree-item col-xs-12 col-sm-6 col-md-12 entree-options">
                  ${this.environ.name}
              </div>`;
    }
    getId = function(){
      return this.environ.name.replace(/\s/g,'-').replace("&", "and");
    }
    target = function(){
      return "#" + this.environ.type.toLowerCase();
    }
    getModalContent = function(){
      let content =  MAIN_MODAL_CONTENT
      .replace("ItemNamePlaceholder", this.environ.name)
      .replace("HeaderPlaceholder", this.getHeader())
      .replace("SelectionPlaceholder", this.getSelection())
      .replace("namePlaceholder", this.environ.name)
      .replace("idPlaceholder", "modal-cart")
      return content
    }
    getSelection = function(){
      let content = ""
      for (const key in this.environ ) {
        if ( this.notSelectKeys.has(key) ){
          continue;
        }
        if (
          this.environ.hasOwnProperty(key) &&
          this.environ[key].length > 1
        ) {
          content += this.getSelectDiv(key, this.environ[key]);
          }
        }
      return content;
    }

    getSelectDiv = function(key, array) {
      if ( !typeof(array) ){
        return "";
      }
      key = this.trimKey(key);
      let content = `<div class='col-sm-6 col-md-4'> Choose ${key} :  <select class='select-setting'>`

      $.each(array, function(index, value) {
        if ( typeof(value) == 'object' && value.hasOwnProperty('name') ){
          value = value.name;
        }
        content += `<option value='${key}'>${value.trim()}</option>`;
      });
      content += "</select></div>";
      return content;
    }
    trimKey = function(key) {
      if (key.slice(-1) == "s") {
        key = key.slice(0, -1);
      }
      return key;
    }

    getHeader = function(){
      let description = "";
      if( this.environ.hasOwnProperty("description") ){
        if ( this.environ.description != "" ){
          description = this.environ.description
        }
      }
      return description + '<p class="please-select-from">Please choose from options:</p>';

    }
  }

  class FoodCounter{
    constructor(){
      this.cart = []
      this.toLimit = new Set(["Entree", "entree"]);
    }

    addItemToCart = function(itemToAdd){
      for ( const itemInCart of this.cart ){
          if ( objectsAreEqual(itemInCart, itemToAdd, ['count'])){
            itemInCart.count = itemInCart.count + 1;
            return;
          }
      }
      this.cart.push(itemToAdd);
    }

    getHtmlForItem = function( itemObject, index ) {
        const appendValueParams = index.toString();
        let newDiv = ITEM_HTML_FOR_LIST.replace(/appendValuePlaceholder/g, appendValueParams)
        .replace("countPlaceholder", itemObject.count);

      for (const key in itemObject) {
        if (key === "cost"){
          newDiv += `<small class="my-cart-key" >${itemObject[key]}"</small>,`;
        }
        else if (key != "count") {
          newDiv += `<span class="my-cart-key"> ${itemObject[key]}</span><strong class="order-keys">|</strong>`;
        }
      }
      return newDiv + "</div>";
    }

    toString = function(itemName = null){
      let cartToString = "";
      const self = this;
      this.cart.forEach( function(itemInCart, index) {
        if ( !itemName || itemInCart.name == itemName ){
          cartToString += self.getHtmlForItem(itemInCart, index);
        }
      })
      return cartToString;
    }

    canAddItemToCart = function(selectionItemObject, maxFlavors, maxItems, type, help){
      if ( !this.toLimit.has(type) ){
        return true;
      }
      maxFlavors = Math.min(maxFlavors, maxItems);
      console.log(`maxItems : ${maxItems}`);
      if ( this.alreadyAtMaxFlavorLimit(selectionItemObject, maxFlavors) ){
        console.log("at flavor limit")
        return false;
      }else if ( !help ){
        console.log("got here help? : " + help )
        return true;
      }
      const toLimitCount = this.getCountOfItemsToLimit();
      console.log(toLimitCount)
      if ( toLimitCount >= maxItems ){
        console.log("at cart limit")
        return false;
      }
      return true;
    }

    getAddToCartError = function(selectionItemObject, maxFlavors, maxItems){
      maxFlavors = Math.min(maxFlavors, maxItems);
      if ( this.alreadyAtMaxFlavorLimit(selectionItemObject, maxFlavors) ){
        return AT_FLAVOR_LIMIT_DIV;
      }
      const toLimitCount = this.getCountOfItemsToLimit()
      if ( toLimitCount >= maxItems ){
        return AT_ORDER_LIMIT_DIV;
      }
      return "";

    }
    pickNumberOfItemsMessage = function( maxItems , help ){
      if ( help ){
        const numberOfItemsToPick = maxItems - this.getCountOfItemsToLimit();
        return PICK_NUMBER_MORE_ITEMS.replace("numberPlaceholder", numberOfItemsToPick.toString() );
      }else{
        return "";
      }
    }

    getCountOfItemsToLimit = function(){
      let count = 0;
      for ( const itemInCart of this.cart ){
        if ( this.toLimit.has(itemInCart.type) ){
            count += itemInCart.count;
        }
      }
      return count;
    }

    alreadyAtMaxFlavorLimit = function(itemObj, appMaxFlavors){
      const countedFlavors = new Set([itemObj.flavor]);
      let flavorCount = 1
      for ( const itemInCart of this.cart ){
        if ( !itemInCart.hasOwnProperty("flavor") || countedFlavors.has(itemInCart.flavor)){
          continue;
        }
        if ( itemInCart.name === itemObj.name ){
          if ( flavorCount == appMaxFlavors ){
            return true;
          }
          countedFlavors.add(itemInCart.flavor);
          flavorCount = flavorCount + 1;
        }
      }
      return false;
    }

  }

  class App{
    constructor(menu){
      this.menu = {}
      for ( const menuItem of menu ){
        this.menu[menuItem.name] = new MenuItem(menuItem);
      }
      this.toLimit = new Set(["Entree", "entree"]);
      this.foodCounter = new FoodCounter();
      this.maxItems = 20;
      this.maxFlavors = 4;
      this.currentItem = null;
      this.help = false;
      this.validGuests = false;
    }

    run = function(){
      for ( const menuItem in this.menu ){
        const menuClass = this.menu[menuItem]
        $(menuClass.target()).append(menuClass.button());

        const MyApp = this;

        $("#" + menuClass.getId() ).on('click', function(){

          const itemName = menuClass.environ.name;
          MyApp.currentItem = itemName;
          const type = MyApp.menu[itemName].environ.type;
          // create modal
          createModal('#modalHolder', menuClass.getModalContent() );
          // show current items of this in cart to modal
          MyApp.showSelectedFood('#modal-cart', itemName);

          attachAddToCartControlls(MyApp, itemName, type);

          const close = document.getElementsByClassName('close')[0];

          close.addEventListener('click', function(){
            MyApp.showSelectedFood('#my-cart')
          });
        });
      }
    }

    showSelectedFood = function(idOfTarget, itenName = undefined, errorMessage = ""){
      const MyApp = this;
      // draw the selection to the cart
      let showSelectedFood = errorMessage + this.foodCounter.pickNumberOfItemsMessage(this.maxItems, this.help);
      showSelectedFood += this.foodCounter.toString(itenName);
      $(idOfTarget).html(showSelectedFood);

      // add controllers for the increase count and decrease count
      const incButtons = document.getElementsByClassName("increase");
      for ( let x = 0; x < incButtons.length; x++ ){
        incButtons[x].addEventListener("click", function(){
          MyApp.foodCounter.cart[this.id].count += 1;
          MyApp.showSelectedFood(idOfTarget, itenName);
        })
      }

      const decButtons = document.getElementsByClassName("decrease");
      for ( let x = 0; x < decButtons.length; x++ ){
        decButtons[x].addEventListener("click", function(){
          MyApp.foodCounter.cart[this.id].count -= 1;
          // if the count for this item goes to 0, remove it from the cart.
          if ( MyApp.foodCounter.cart[this.id].count == 0 ){
            MyApp.foodCounter.cart.splice(this.id, 1);
          }
          MyApp.showSelectedFood(idOfTarget, itenName);
        })
      }
    }
  }

  function attachAddToCartControlls(MyApp, itemName, type){
    $("#addToCart").on('click', function(){
      // create item object.
      const selectioItemObject = getSelectedOptions(itemName, type)
      // if can add it to cart
      if ( MyApp.foodCounter.canAddItemToCart(selectioItemObject, MyApp.maxFlavors, MyApp.maxItems, type, MyApp.help) ){
        // add the item to the card and re draw selection.
        MyApp.foodCounter.addItemToCart(selectioItemObject);
        MyApp.showSelectedFood('#modal-cart', itemName)
      }else{
        const errorMessage = MyApp.foodCounter.getAddToCartError(selectioItemObject, MyApp.maxFlavors, MyApp.maxItems);
        MyApp.showSelectedFood('#modal-cart', itemName, errorMessage);
      }
    });
  }
  const getSelectedOptions = function(nameOfItem, itemType){
    const $selected = $(".select-setting");
    const thisItem = { count: 1, name: nameOfItem, type: itemType };
    $.each($selected, function(index, value) {
      thisItem[
        $(value)
          .find("option:selected")
          .val()
          .trim()
      ] = $(value)
        .find("option:selected")
        .text()
        .trim();
    });
    return thisItem;
  }
  const app = new App({{ menu | tojson }});
  app.run();

  $('#checkoutButton').on('click', function(){
    const date = $('#datepicker').val();
    if ( date == "" || date == "None"){
      alert("Please select a date before continuing to check out.");
    }else if ( app.foodCounter.cart.length === 0){
      alert("There doesn't seem to be anything in your cart.")
    }else {
      sessionStorage.setItem("date", date);
      sessionStorage.setItem("cart", JSON.stringify(app.foodCounter.cart));
      location.href = "/confirmCart#order-summary";
    }
  });

  const setAppMaxItems = function(){
    let numGuests;
    let numAdults = $('#numAdults').val()
    let numKids = $('#numKids').val()

    if( isNaN(numAdults) || isNaN(numKids) ){
      app.validGuests = false;
    }else{
      if ( (numKids + numAdults) >= 8 && (0.5*numKids + numAdults) < 8 ){
        numGuests = 8;
      }else{
        numGuests = (0.5*numKids) + numAdults;
      }
      app.maxItems = Math.ceil( numGuests / parseInt(DEFAULT_MIN) );
      app.validGuests = true;
    }
  }

  $('#numAdults').on('input', function(){
    setAppMaxItems();
  });

  $('#numKids').on('input', function(){
    setAppMaxItems();
  })

    $('#amount-help').on('click', function(){
      if ( app.help == false && app.validGuests == false){
      alert('Please enter a valid number of guests.');
      }else {
      app.help = !app.help;
      }
    })
</script>
{% endblock %}
