{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
head %}
<script>
  Flask.url_for("index");
</script>

{% endblock %} {% block main %}

<div id="main-planner-page" class="container">
  <p id="dates-to-hide" class="hidden">{{ dates }}</p>
  <div id="top-message" class="row normalize-height">
  </div>
  <div id="event-planner" class="row normalize-height">
  </div>
  <div id="need-phone" class="row normalize-height">
  </div>
  <div id="next-button" class="row normalize-height hidden">
  </div>
</div>
<script src="{{ url_for('static', filename='datepicker.js') }}"></script>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='defaultcompressed.css') }}"
/>
<script type="text/javascript">
if ( sessionStorage.getItem('CURRENT_PAGE') === null ){
  sessionStorage.setItem('CURRENT_PAGE', '1');
}
window.PAGE_RULES = {
    '1' : {
      'NEXT' : ["#card2", "#card3", "#button1", "#card4"]
    },
    '2' : {
      'NEXT' : [ "#card1", "#card2", "#card3", "#button1", "#button2", "#card4"],
      'PREV' : ["#card2", "#button1", "#button2"]
    },
    '3' : {
      'NEXT' : ["#card2", "#card3", "#card4", "#next-button"],
      'PREV' : ["#card2", "#card3", "#card4", "#button2"]
    }
}
</script>
{% endblock %}
