{% extends "layout.html" %} {% block title %} Home Page {% endblock %} {% block
head %}
<script>
  Flask.url_for("index");
</script>
{% endblock %} {% block main %}
<div id="modalHolder"></div>
<div id="main-planner-page" class="container">
  <div id="top-message" class="row normalize-height">
    <div id="card1" class="col-md-10 col-md-offset-1 main-card fade-in-right">
      <h4>Thanks for choosing Taco Lindo!</h4>
      <h4>Lets plan your event!</h4>
    </div>
  </div>
  <div id="event-planner" class="row normalize-height">
    <div id="card2" class="col-md-10 col-md-offset-1 main-card fade-in-left">
      <h4>What day will your event be?</h4>
      <div id="date-form" class="form-group">
        <input
          class="form-control"
          type="text"
          name="date"
          placeholder="None"
          id="datepicker"
        />
      </div>
      <h4 class="order-keys">
        If your date is unavailable or less than 24 hours in advance, give us a
        call:
      </h4>
      <a style="color:#0d034c;" href="tel:+1-856-214-3413">(856)-214-3413</a>
    </div>
  </div>
  <!-- <div id="need-phone" class="row normalize-height">
    <div id="card3" class="col-md-10 col-md-offset-1 main-card fade-in-right">
      <h4>
        If your date is unavailable or less than 24 hours in advance, give us a
        call:
      </h4>
      <a style="color:#0d034c;" href="tel:+1-856-214-3413">(856)-214-3413</a>
    </div>
  </div> -->
  <!-- <div id="people-num" class="row normalize-height">
    <div id="card4" class="col-md-10 col-md-offset-1 main-card fade-in-left">
      <h4>How many people will be at your event?</h4>
      <div class="form-group">
        <h5>
          Adults: <input id="numAdults" name="adults" class="form-control" />
        </h5>
      </div>
      <div class="form-group">
        <h5>
          &nbsp;&nbsp;&nbsp;&nbsp;Kids:
          <input id="numKids" name="kids" class="form-control" />
        </h5>
      </div>
    </div>
  </div> -->
  <div id="select-menu" class="row normalize-height">
    <div
      id="card2"
      class="col-md-10 col-md-offset-1 main-card fade-in-left helper-screen"
    >
      <div id="card9" class="col-xs-12 fade-in-right ">
        <div class="row">
          <div class="col-sm-6">
            <h4>
              <span class="order-keys">Not sure how much to order?</span>
              Enter the number of people, then click Amount Help button below to
              display helper messages on the menu.
            </h4>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <h5>
                Adults:
                <input id="numAdults" name="adults" class="form-control" />
              </h5>
            </div>
            <div class="form-group">
              <h5>
                &nbsp;&nbsp;&nbsp;&nbsp;Kids:
                <input id="numKids" name="kids" class="form-control" />
              </h5>
            </div>
          </div>
        </div>
        <div class="row">
          <button id="amount-help" class="button button1 fade-in-right">
            Amount Help
          </button>
        </div>
      </div>

      <div class="row main-menu-box">
        <h4 id="number-rec"></h4>
        <div class="col-md-4">
          <h3 class="main-menu-headers">Entrees</h3>
          <div id="entree" class="row"></div>
          <h3 class="main-menu-headers">Sides</h3>
          <div id="side" class="row"></div>
        </div>
        <div id="selected-food" class="col-md-8">
          <h3 class="main-menu-headers">
            Selected Items
          </h3>
          <div id="my-cart" class="row"></div>
        </div>
      </div>
      <div
        id="checkoutButton"
        class="button button1 checkout-button col-xs-5 col-sm-3"
      >
        Checkout
      </div>
    </div>
  </div>
  <div id="next-button" class="row normalize-height hidden"></div>
  <div id="help-or-no" class="row normalize-height"></div>
  <div id="help-or-no-buttons" class="row normalize-height"></div>
</div>
<script src="{{ url_for('static', filename='datepicker.js') }}"></script>

<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='defaultcompressed.css') }}"
/>
<script type="text/javascript">
  const DEFAULT_MIN = 8;

  class MenuItem{
    constructor(itemDictionary){
      this.environ = itemDictionary;
      this.notSelectKeys = new Set(["name" , "description", "_id", "type"]);
      this.toLimit = new Set(["Entree", "entree"]);
    }

    button = function(){
      return `<div id="${this.getId()}"
                class="entree-item col-xs-12 col-sm-6 col-md-12 entree-options">
                  ${this.environ.name}
              </div>`;
    }
    getId = function(){
      return this.environ.name.replace(/\s/g,'-').replace("&", "and");
    }
    target = function(){
      return "#" + this.environ.type.toLowerCase();
    }
    getModalContent = function(help){
      let content =  MAIN_MODAL_CONTENT
      .replace("ItemNamePlaceholder", this.environ.name)
      .replace("HeaderPlaceholder", this.getHeader())
      .replace("SelectionPlaceholder", this.getSelection(help))
      .replace("namePlaceholder", this.environ.name)
      .replace("idPlaceholder", "modal-cart")
      return content
    }
    getSelection = function(help){
      let content = ""
      for (const key in this.environ ) {
        if ( this.notSelectKeys.has(key) ){
          continue;
        }
        if (
          this.environ.hasOwnProperty(key) &&
          this.environ[key].length > 1
        ) {
          content += this.getSelectDiv(key, this.environ[key], help);
          }
        }
      return content;
    }

    getSelectDiv = function(key, array, help) {
      if ( !typeof(array) ){
        return "";
      }
      key = this.trimKey(key);
      let content = `<div class='col-sm-6 col-md-4'> Choose ${key} :  <select class='select-setting'>`
      // if asking for help, and the item is of entree type, and the key is the size. only return option for the smallest size
      if ( help && this.toLimit.has(this.environ.type) && key == 'size'){
        const sizeKey = ( this.environ.hasOwnProperty("sizes") ) ? 'sizes' : 'size';
        const currentLargestSize = Math.min.apply(Math, this.environ[sizeKey].map(function(object) { return object.Count; }))
        const value = this.environ[sizeKey].find( function(object) { return object.Count == currentLargestSize })
        return content + `<option value='${key}'>${value.name.trim()}</option></select></div>`;
      }
      $.each(array, function(index, value) {
        if ( typeof(value) == 'object' && value.hasOwnProperty('name') ){
          value = value.name;
        }
        content += `<option value='${key}'>${value.trim()}</option>`;
      });
      content += "</select></div>";
      return content;
    }
    trimKey = function(key) {
      if (key.slice(-1) == "s") {
        key = key.slice(0, -1);
      }
      return key;
    }

    getHeader = function(){
      let description = "<ul>";
      if( this.environ.hasOwnProperty("description") ){
        if ( this.environ.description.length > 0 ){
          $.each(this.environ.description, function(index, element) {
            description += `<li>${element}</li>`;
          })
        }
      }
      return description + '</ul><p class="please-select-from">Please choose from options:</p>';

    }
  }

  class FoodCounter{
    constructor(cart, app){
      this.cart = cart;
      this.toLimit = new Set(["Entree", "entree"]);
      this.parentApp = app;
      this.possibleSizeKeys = ['size', 'sizes', 'portion', 'portions'];
    }

    addItemToCart = function(itemToAdd){
      for ( const itemInCart of this.cart ){
        // if item is the same as another item except for the count, append 1 to the count.
          if ( objectsAreEqual(itemInCart, itemToAdd, ['count'])){
            itemInCart.count = itemInCart.count + 1;
            return;
          }
      }
      this.cart.push(itemToAdd);
    }

    getHtmlForItem = function( itemObject, index ) {
        const appendValueParams = index.toString();
        let newDiv = ITEM_HTML_FOR_LIST.replace(/appendValuePlaceholder/g, appendValueParams)
        .replace("countPlaceholder", itemObject.count);

      for (const key in itemObject) {
        if (key === "cost"){
          newDiv += `<small class="my-cart-key" >${itemObject[key]}"</small>,`;
        }
        else if (key != "count") {
          newDiv += `<span class="my-cart-key"> ${itemObject[key]}</span><strong class="order-keys"> | </strong>`;
        }
      }
      return newDiv + "</div>";
    }

    toString = function(itemName = null){
      let cartToString = "";
      const self = this;
      this.cart.forEach( function(itemInCart, index) {
        if ( !itemName || itemInCart.name == itemName ){
          cartToString += self.getHtmlForItem(itemInCart, index);
        }
      })
      return cartToString;
    }

    canAddItemToCart = function(selectionItemObject, maxFlavors, maxItems, type, help){
      if ( !this.toLimit.has(type) ){
        return true;
      }
      maxFlavors = Math.min(maxFlavors, maxItems);
      if ( this.alreadyAtMaxFlavorLimit(selectionItemObject, maxFlavors) ){
        return false;
      }else if ( !help ){
        return true;
      }
      const toLimitCount = this.getCountOfItemsToLimit();
      if ( toLimitCount >= maxItems ){
        return false;
      }
      return true;
    }

    getAddToCartError = function(selectionItemObject, maxFlavors, maxItems){
      maxFlavors = Math.min(maxFlavors, maxItems);
      if ( this.alreadyAtMaxFlavorLimit(selectionItemObject, maxFlavors) ){
        return AT_FLAVOR_LIMIT_DIV;
      }
      const toLimitCount = this.getCountOfItemsToLimit()
      if ( toLimitCount >= maxItems ){
        return AT_ORDER_LIMIT_DIV;
      }
      return "";

    }
    pickNumberOfItemsMessage = function( maxItems , help ){
      if ( help ){
        const numberOfItemsToPick = maxItems - this.getCountOfItemsToLimit();
        return PICK_NUMBER_MORE_ITEMS.replace("numberPlaceholder", numberOfItemsToPick.toString() );
      }else{
        return "";
      }
    }

    getCountOfItemsToLimit = function(){
      let count = 0;
      for ( const itemInCart of this.cart ){
        if ( this.toLimit.has(itemInCart.type) ){
          count += itemInCart.count;
        }
      }
      return count;
    }

    alreadyAtMaxFlavorLimit = function(itemObj, appMaxFlavors){
      const countedFlavors = new Set([itemObj.flavor]);
      let flavorCount = 1
      for ( const itemInCart of this.cart ){
        if ( !itemInCart.hasOwnProperty("flavor") || countedFlavors.has(itemInCart.flavor)){
          continue;
        }
        if ( itemInCart.name === itemObj.name ){
          if ( flavorCount == appMaxFlavors ){
            return true;
          }
          countedFlavors.add(itemInCart.flavor);
          flavorCount = flavorCount + 1;
        }
      }
      return false;
    }

  }

  class App{
    constructor(cart, menu){
      this.menu = {}
      for ( const menuItem of menu ){
        this.menu[menuItem.name] = new MenuItem(menuItem);
      }
      this.toLimit = new Set(["Entree", "entree"]);
      this.foodCounter = new FoodCounter(cart, this);
      this.maxItems = 20;
      this.maxFlavors = 4;
      this.currentItem = ''
      this.help = false;
      this.validGuests = false;
      this.environ = {}
    }

    run = function(){
      for ( const menuItem in this.menu ){
        const menuClass = this.menu[menuItem]
        $(menuClass.target()).append(menuClass.button());

        const MyApp = this;

        $("#" + menuClass.getId() ).on('click', function(){

          const itemName = menuClass.environ.name;
          MyApp.currentItem = itemName;
          const type = MyApp.menu[itemName].environ.type;
          // create modal
          createModal('#modalHolder', menuClass.getModalContent(MyApp.help) );
          // show current items of this in cart to modal
          MyApp.showSelectedFood('#modal-cart', itemName);

          MyApp.attachAddToCartControlls(itemName, type);

          const close = document.getElementsByClassName('close')[0];

          close.addEventListener('click', function(){
            MyApp.currentItem = '';
            MyApp.showSelectedFood('#my-cart')
          });
        });
      }
    }

    showSelectedFood = function(idOfTarget, itemName = undefined, errorMessage = ""){
      const MyApp = this;
      // draw the selection to the cart
      let showSelectedFood = errorMessage + this.foodCounter.pickNumberOfItemsMessage(this.maxItems, this.help);
      if ( this.currentItem != '' && !this.toLimit.has(this.menu[this.currentItem].environ.type ) ){
        showSelectedFood = '';
      }
      showSelectedFood += this.foodCounter.toString(itemName);
      $(idOfTarget).html(showSelectedFood);

      // add controllers for the increase count and decrease count
      const incButtons = document.getElementsByClassName("increase");
      for ( let x = 0; x < incButtons.length; x++ ){
        incButtons[x].addEventListener("click", function(){
          // MyApp.foodCounter.cart[this.id].count += 1;
          const selectionItemObject = deepCopy(MyApp.foodCounter.cart[this.id]);
          selectionItemObject.count = 1;
          let errorMessage = '';
          let targetId = '#my-cart';
          if ( MyApp.foodCounter.canAddItemToCart(selectionItemObject, MyApp.maxFlavors, MyApp.maxItems, selectionItemObject.type, MyApp.help) ){
          // add the item to the card and re draw selection.
            MyApp.foodCounter.addItemToCart(selectionItemObject);
          }
          // only show error if the item type is type to limit number.
          if( MyApp.toLimit.has( selectionItemObject.type ) ){
            errorMessage = MyApp.foodCounter.getAddToCartError(selectionItemObject, MyApp.maxFlavors, MyApp.maxItems);
          }
          if( $("#modal-cart").html() != undefined ){
            targetId = "#modal-cart"
          }
          MyApp.showSelectedFood(targetId, itemName, errorMessage);
          if ( errorMessage.includes("cart limit") ){
            attachAddMore();
          }
        })
      }

      const decButtons = document.getElementsByClassName("decrease");
      for ( let x = 0; x < decButtons.length; x++ ){
        decButtons[x].addEventListener("click", function(){
          MyApp.foodCounter.cart[this.id].count -= 1;
          // if the count for this item goes to 0, remove it from the cart.
          if ( MyApp.foodCounter.cart[this.id].count == 0 ){
            MyApp.foodCounter.cart.splice(this.id, 1);
          }
          MyApp.showSelectedFood(idOfTarget, itemName);
        })
      }
    }

    attachAddToCartControlls = function(itemName, type){
      const MyApp = this;
      $("#addToCart").on('click', function(){
        // create item object.
        const selectionItemObject = getSelectedOptions(itemName, type)
        // if can add it to cart
        if ( MyApp.foodCounter.canAddItemToCart(selectionItemObject, MyApp.maxFlavors, MyApp.maxItems, type, MyApp.help) ){
          // add the item to the card and re draw selection.
          MyApp.foodCounter.addItemToCart(selectionItemObject);
          MyApp.showSelectedFood('#modal-cart', itemName)
        }else{
          const errorMessage = MyApp.foodCounter.getAddToCartError(selectionItemObject, MyApp.maxFlavors, MyApp.maxItems);
          MyApp.showSelectedFood('#modal-cart', itemName, errorMessage);
            if ( errorMessage.includes("cart limit") ){
              attachAddMore();
            }
        }
      });
    }

  }

  const getSelectedOptions = function(nameOfItem, itemType){
    const $selected = $(".select-setting");
    const thisItem = { count: 1, name: nameOfItem, type: itemType };
    $.each($selected, function(index, value) {
      thisItem[
        $(value)
          .find("option:selected")
          .val()
          .trim()
      ] = $(value)
        .find("option:selected")
        .text()
        .trim();
    });
    return thisItem;
  }
  let cart = []
  if ( sessionStorage.getItem("cart") != undefined ){
    cart = JSON.parse( sessionStorage.getItem("cart") );
  }
  const app = new App(cart, {{ menu | tojson }});

  app.run();

  const attachAddMore = function(){
    $("#add-more").on('click', function(){
      app.maxItems += 1;
      if ( $("#modal-cart").html() == undefined ){
        app.showSelectedFood('#my-cart');
      }else{
        app.showSelectedFood('#modal-cart');
      }
    });
  }


  $('#checkoutButton').on('click', function(){
    const date = $('#datepicker').val();
    if ( date == "" || date == "None"){
      alert("Please select a date before continuing to check out.");
    }else if ( app.foodCounter.cart.length === 0){
      alert("There doesn't seem to be anything in your cart.")
    }else {
      sessionStorage.setItem("date", date);
      sessionStorage.setItem("cart", JSON.stringify(app.foodCounter.cart));
      location.href = "/confirmCart#order-summary";
    }
  });

  const setAppMaxItems = function(){
    let numGuests;
    let numAdults = $('#numAdults').val()
    let numKids = $('#numKids').val()

    if( numAdults === '' ) numAdults = 0;
    if( numKids === '') numKids = 0;
    if( isNaN(numAdults) || isNaN(numKids) ){
      app.validGuests = false;
    }else{

      if ( numAdults + numKids === 0 ){
        validGuests = false;
        return;
      }

      app.environ.Adults = parseInt(numAdults);
      app.environ.Kids = parseInt(numKids);
      sessionStorage.setItem("numAdults", numAdults);
      sessionStorage.setItem("numKids", numKids);

      if ( (app.environ.Kids + app.environ.Adults) >= 8 && (0.5*app.environ.Kids + app.environ.Adults) < 8 ){
        numGuests = 8;
      }else{
        numGuests = (0.5*app.environ.Kids) + app.environ.Adults;
      }
      app.maxItems = Math.ceil( numGuests / parseInt(DEFAULT_MIN) );
      const numberRec = $('#number-rec');
      if ( numberRec.html() !== '' ){
        numberRec.html(`For ${app.environ.Adults} adults${ (app.environ.Kids != 0) ? ` and ${app.environ.Kids} kids` : ''}, we recommoned ${app.maxItems} entrees of the smallest size.`) ;
      }
      app.validGuests = true;
    }
  }

  $('#numAdults').on('input', function(){
    setAppMaxItems();
  });

  $('#numKids').on('input', function(){
    setAppMaxItems();
  })
  if ( sessionStorage.getItem("numAdults") != undefined ){
    $("#numAdults").val(sessionStorage.getItem("numAdults") );
  }
  if ( sessionStorage.getItem("numKids") != undefined ){
    $("#numKids").val( sessionStorage.getItem("numKids") );
  }
  $('#amount-help').on('click', function(){
    if ( app.help == false && app.validGuests == false){
      alert('Please enter a valid number of guests.');
    }else {
      const numberRec = $("#number-rec");
      if ( numberRec.html() === '' ){
        numberRec.html(`For ${app.environ.Adults} adults${ (app.environ.Kids != 0) ? ` and ${app.environ.Kids} kids` : ''}, we recommoned ${app.maxItems} entrees of the smallest size.`) ;
      }else {
        numberRec.empty()
      }
      app.help = !app.help;
      app.foodCounter.cart = reverseResolutionOfItems(app.foodCounter.cart, app.help);
      app.showSelectedFood('#my-cart');
      $('#amount-help').toggleClass(function(){
        return 'focused-button';
      });
    }
  })

  const reverseResolutionOfItems = function(orginalCart, help){
    const newCart = []
    orginalCart.forEach( function(element){
      if ( hasCountProperty(element) ){
        const arrayOfResolution = ( help ) ? convertToSmallerSizes(element) :  convertToLargerSizes( element );
        arrayOfResolution.forEach(function(newResItem){
            newCart.push(newResItem);
        });
      }else{
        newCart.push(element);
      }
    });
    return reconcileCart(newCart);
  }
  const reconcileCart = function(oldCart){
    for ( let curIndex = 0; curIndex < oldCart.length ; curIndex++ ){
      for ( let checkIndex = curIndex + 1; checkIndex < oldCart.length; checkIndex++ ){
        if ( objectsAreEqual( oldCart[curIndex], oldCart[checkIndex], ['count']) ){
          oldCart[curIndex].count += oldCart[checkIndex].count;
          oldCart.splice(checkIndex, 1);
          checkIndex -= 1;
        }
      }
    }
    return oldCart;
  }
  const hasCountProperty = function(name){
    for ( const sizeKey of app.foodCounter.possibleSizeKeys ) {
      if ( app.menu[name.name].environ.hasOwnProperty(sizeKey) ){
        // console.log( this.parentApp.menu[name.name][sizeKey][0]);
        if ( app.menu[name.name].environ[sizeKey][0].hasOwnProperty("Count") || app.menu[name.name].environ[sizeKey][0].hasOwnProperty("count") ){
          return true;
        }
      }
    }
    return false;
  }
  const convertToSmallerSizes = function(itemObject){
    const newResArray = []
    let count = 0;
    const sizeKey = itemObject.hasOwnProperty("size") ? "size" : "portion";
    const itemSize = itemObject[sizeKey];
    const arrayOfItemSizes = app.menu[itemObject.name].environ.sizes;
    let minSize = {'Count' : 100 }
    arrayOfItemSizes.forEach( function(object){
      if ( parseInt(object.Count) < minSize.Count ){
        minSize = object
      }
    });
    const thisItemCount = arrayOfItemSizes.find( function(element){
      return element.name == itemSize;
    });
    const copyOfItem = deepCopy(itemObject);
    copyOfItem[sizeKey] = minSize.name;
    copyOfItem['count'] = ( parseInt(thisItemCount.Count) / parseInt(minSize.Count) ) * itemObject.count;
    newResArray.push(copyOfItem);
    return newResArray;
  }
  const convertToLargerSizes = function(itemObject){
    const newResArray = []
    const sizeKey = itemObject.hasOwnProperty("size") ? "size" : "portion";
    const itemSize = itemObject[sizeKey];
    let copyOfSizes = deepCopy(app.menu[itemObject.name].environ.sizes);
    const thisItemCount = copyOfSizes.find( function(element){
      return element.name == itemSize;
    })
    let totalPieces = parseInt(thisItemCount.Count) * itemObject.count;
    while ( copyOfSizes.length > 0 ){
      const currentLargestSize = Math.max.apply(Math, copyOfSizes.map(function(object) { return object.Count; }))
      const sizeObjectWithCurrentLargestSize = copyOfSizes.find( function(object){
        return object.Count == currentLargestSize;
      })
      if ( totalPieces >= sizeObjectWithCurrentLargestSize.Count ){
        const newItem = deepCopy(itemObject);
        newItem.count = 0;
        newItem.size = sizeObjectWithCurrentLargestSize.name;
        while ( totalPieces >= parseInt(sizeObjectWithCurrentLargestSize.Count) ){
          newItem.count += 1;
          totalPieces -= parseInt(sizeObjectWithCurrentLargestSize.Count);
        }
        newResArray.push(newItem);
      }
      copyOfSizes = copyOfSizes.filter( function(object){ return object.Count != currentLargestSize });
    }
    return newResArray;
  }
</script>
{% endblock %}
