<!DOCTYPE html>

<html lang="en">
  <head>
    {# https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta #}
    <meta charset="utf-8" />
    <meta content="initial-scale=1, width=device-width" name="viewport" />

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />

    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <!-- JQuery CDN -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <!-- local JQuery backup -->
    <script>
      window.jQuery ||
        document.write(
          "<script src=\"{{ url_for('static', filename='jquery-3.3.1.min.js') }}\"><\/script>"
        );
    </script>
    <!-- Latest compiled and minified JavaScript bootstrap CDN -->
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
      integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
      crossorigin="anonymous"
    ></script>
    <script id="append-css" type="text/css"></script>
    {{
      JSGlue.include()
    }}

    <title>{% block title %} Lindo Catering {% endblock %}</title>
  </head>

  <body class="feather">
    <div id="bootstrapCssTest" class="hidden"></div>
    <div id="layout-page" class="container-fullwidth">
      <nav class="navbar" style="background-color: rgb(13, 3, 76, 0)">
        <div id="all-nav-bar" class="nav-pad container-fluid">
          <div class="navbar-header menu" style="margin-right: 0px;">
            <button
              aria-expanded="false"
              class="navbar-toggle collapsed"
              data-target="#navbar"
              data-toggle="collapse"
              type="button"
            >
              <span class="titles"
                ><i class="fa fa-gear gear" style="font-size:24px"></i
              ></span>
            </button>
            <a
              class="main-nav-item titles navbar-brand"
              href="{{ url_for('index') }}"
              ><img
                style="height: 32px; float:left; padding-right: 10px; margin-top: -5px;"
                src="static/taco-logo.png"
                alt=""
              /><span>Taco Lindo</span></a
            >
          </div>
          <div class="collapse navbar-collapse" id="navbar">
            {% if session.user_id %} {% if admin %} {% else %}
            <ul id="nav-list" class="nav navbar-nav menu">
              <li>
                <a class="titles main-nav-item" href="#">New Reservation</a>
              </li>
              {# href="{{
                url_for("index")
              }}" #}
              <li><a class="titles main-nav-item" href="#">My Orders</a></li>
              {# href="{{
                url_for("make")
              }}" #}
              <li>
                <a class="titles main-nav-item" href="#">Incomplete Orders</a>
              </li>
              <li><a class="titles main-nav-item" href="#">Prices</a></li>
              {# href="{{
                url_for("friends")
              }}" #}
              <li>
                <a class="titles main-nav-item" href="#">Change Password</a>
              </li>
              {#
              {{
                url_for("newpass")
              }}
              #}
              <li><a class="titles main-nav-item" href="#">Log Out</a></li>
              {#
              {{
                url_for("logout")
              }}
              #}
            </ul>
            {% endif %} {% else %}
            <ul id="nav-list" class="nav navbar-nav menu">
              <li>
                <a class="titles main-nav-item" href="{{ url_for('index') }}"
                  >New Reservation</a
                >
              </li>
              <li><a class="titles main-nav-item" href="#">Prices</a></li>
              <li>
                <a class="titles main-nav-item" href="{{ url_for('register') }}"
                  >Register</a
                >
              </li>
              {#
              {{
                url_for("register")
              }}
              #}
              <li><a class="titles main-nav-item" href="#">Log In</a></li>
              {#
              {{
                url_for("login")
              }}
              #}
            </ul>
            {% endif %}
          </div>
        </div>
      </nav>

      {% if get_flashed_messages() %}
      <header>
        <div class="alert alert-info" role="alert">
          {{ get_flashed_messages() | join(" ") }}
        </div>
      </header>
      {% endif %}

      <main class="back">{% block main %}{% endblock %}</main>
    </div>
  </body>
  <!-- Footer -->
  <footer
    style="font-family: Raleway, Arial, Helvetica, sans-serif"
    class="page-footer font-small pt-4"
  >
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="footer-ele-pad text-uppercase font-weight-bold">
            Contact
          </h5>
          <hr class="clearfix w-100 d-md-none pb-3" />
          <p>
            <a
              class="footer-link"
              href="https://www.google.com/maps/place/525+Beckett+Rd,+Logan+Township,+NJ+08085/@39.7577528,-75.3580979,16z/data=!4m5!3m4!1s0x89c6e0970ed24cc9:0xde4cdf53eb2b98a7!8m2!3d39.7596911!4d-75.3548363"
              >525 Beckett Rd Logan Township, NJ 08085</a
            >
          </p>
          <p
            id="phone-number"
            class="footer-link"
            onclick="copyToClipBoard('phoneNumber')"
          >
            (856) 214-3413
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
          <!-- Content -->
          <h5 class="footer-ele-pad text-uppercase font-weight-bold">
            Resources
          </h5>
          <hr class="clearfix w-100 d-md-none pb-3" />
          <p><a class="footer-link" href="#">Terms and Conditions</a></p>
          <p><a class="footer-link" href="#">Privacy Policy</a></p>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
    <!-- Footer Text -->

    <!-- Copyright -->

    <div class="footer-copyright text-center py-3">
      © 2018 Copyright Taco Lindo | Made with Bootstrap | JQuery | pickadate.js
    </div>

    <!-- Copyright -->
  </footer>
  <script>
    $(".gear").click(function() {
      $(this).toggleClass("rotate");
    });
  </script>
  <script>
    if (typeof $.fn.modal === "undefined") {
      document.write(
        "<script src=\"{{ url_for('static', filename='bootstrap-3.3.7-dist/js/bootstrap.min.js') }}\"><\/script>"
      );
    }
  </script>
  <script>
    // bootstrap css fallback if cdn fail
    $(function() {
      if ($("#bootstrapCssTest").is(":visible")) {
        $("head").prepend(
          "<link rel = 'stylesheet' type='text/css' href = \"{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap.min.css') }}\">"
        );
        $("head").prepend(
          "<link rel = 'stylesheet' type='text/css' href = \"{{ url_for('static', filename='bootstrap-3.3.7-dist/css/bootstrap-theme.min.css') }}\">"
        );
      }
    });
  </script>
  <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</html>
