{% extends "layout.html" %} {% block title %} Manage Dates {% endblock %} {%
block head %}
<script>
  Flask.url_for("managedates");
</script>

{{ super() }} {% endblock %} {% block main %}
<div style="margin-top: 16vh;" class="container">
  <p class="question-titles">{{ error }}</p>
  <div class="row">
    <div class="col-lg-6">
      <div class="main-card question-titles">
        <form action="{{ url_for('managedates') }}" method="post">
          <h3 class="red-title">Disable and Enable Dates Tool</h3>
          <fieldset>
            <div class="form-group">
              <input id="hidden-input" name="data" class="hidden" />
              <input
                autocomplete="off"
                id="datepicker"
                class="form-control"
                name="date"
                placeholder="None"
                type="text"
              />
            </div>
            <div>
              <h4 class="red-title">Dates Selected:</h4>
              <p>( click on date *if any listed* to remove )</p>
              <p id="dates-selected"></p>
            </div>
            <div class="form-group">
              <h4 class="red-title">Choose method for selected dates</h4>

              <button name="disable" class="btn btn-default" type="submit">
                Disable
              </button>
              <button name="enable" class="btn btn-default" type="submit">
                Enable
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="main-card question-titles">
        <h3
          class="red-title"
          style="border-bottom: 1px #0d034c solid; padding: 5px 15px;"
        >
          List of All Future Dates
        </h3>
        <p>
          *All future dates are listed here*: <br />*red indicates that the date
          is unavailable for customers to place an order* <br />
          (eg. holiday or this date is over the max limit of orders)
        </p>
        <table class="manage-dates-table">
          <tr>
            <th>Date</th>
            <th>Order amount</th>
          </tr>
          {% for date in sorted_dates %} {% if dates[date].disabled == 'True' %}
          <tr
            onclick="goToScheduled('{{ date }}')"
            style="cursor: pointer;font-weight: bold; color: #ff0202;"
          >
            <td>{{ date }}</td>
            <td>{{ dates[date].sum }}</td>
          </tr>
          {% else %}
          <tr onclick="goToScheduled('{{ date }}')" style="cursor: pointer;">
            <td>{{ date }}</td>
            <td>{{ dates[date].sum }}</td>
          </tr>
          {% endif %} {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='picker.js') }}"></script>
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='defaultcompressed.css') }}"
/>
<script type="text/javascript">
  window.onload = function() {
    var sendDates = [];
    setPicker();
    function dateChangeHandler() {
      document.querySelector('input[name="date"]').onchange = dateHandler;
    }
    function dateHandler(event) {
      //   if (!event.target.value) console.log("nothing here");
      //   else {
      let new_date = document.getElementById("datepicker").value;

      if (sendDates.indexOf(new_date) == -1) {
        sendDates.push(new_date.toString());

        setDiv();
      }
    }

    function setDiv() {
      let setInput = "";
      let divString = "";

      for (let i = 0; i < sendDates.length; i++) {
        let dateString = sendDates[i].toString();

        divString += "<p id=" + i.toString() + ">" + sendDates[i] + "</p>";
        setInput += dateString + "/";
      }
      setInput = setInput.substring(0, setInput.length - 1);
      document.getElementById("hidden-input").value = setInput;
      document.getElementById("dates-selected").innerHTML = divString;
      for (let x = 0; x < sendDates.length; x++) {
        document
          .getElementById(x.toString())
          .addEventListener("click", function() {
            removeFromDates(x);
          });
      }
    }

    function removeFromDates(element) {
      sendDates.splice(element, 1);
      setDiv();
    }

    dateChangeHandler();
  };

  function goToScheduled(date) {
    const result = encodeURI("?s=" + date);
    location.href = "/scheduled_orders" + result;
  }
</script>

{% endblock %}
