{% extends "layout.html" %} {% block title %} Set Menu{% endblock %} {% block
head %}
<script>
  Flask.url_for("menusetter");
</script>
<style></style> {{ super() }} {% endblock %} {% block main %}
<div style="margin-top: 15vh;" class="container">
  <p class="question-titles">{{ error }}</p>
  <div id="modal-holder"></div>
  <div class="row">
    <div class="main-card question-titels col-lg-10 col-lg-offset-1">
      <div class="header-size question-titles">
        Entrees included here will be included in menu options
      </div>
      <form action="{{ url_for('menusetter') }}" method="post">
        <fieldset>
          <table id="menu-setter-table" class="menu-table">
            <tr>
              <th>Entree Item</th>
              <th>Flavors</th>
              <th>Sizes</th>
              <th>Description</th>
            </tr>
            {% for menuItem in range( menu | length + 1) %}
            <tr>
              <td>
                <input
                  type="text"
                  name="{{ menuItem }}"
                  autocomplete="off"
                  class="form-input-box"
                />
              </td>
              <td>
                <input
                  autocomplete="off"
                  class="form-input-box"
                  name="{{ menuItem }}flavor"
                  type="text"
                />
              </td>
              <td>
                <input
                  autocomplete="off"
                  class="form-input-box"
                  name="{{ menuItem }}portion"
                  type="text"
                />
              </td>
              <td>
                <input
                  id="{{ menuItem }}"
                  autocomplete="off"
                  onclick="showModal('#modal-holder', '{{ menuItem }}')"
                  class="form-input-box description"
                  name="{{ menuItem }}des"
                  type="text"
                />
              </td>
            </tr>
            {% endfor %}
          </table>

          <div class="row">
            <div class="col-xs-2">
              <div
                onclick="addRow('#menu-setter-table', '')"
                class="button button1 question-titles add-row-button"
              >
                Add Row
              </div>
            </div>
            <div class="col-xs-2 col-xs-offset-8">
              <div
                onclick="deleteRow('#menu-setter-table', '')"
                class="button button1 question-titles delete-row-button"
              >
                Delete Row
              </div>
            </div>
          </div>
          <div class="form-group">
            <button
              name="submit-entrees"
              class="submit-button button button1"
              type="submit"
            >
              Submit
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="main-card question-titels col-lg-10 col-lg-offset-1">
      <div class="header-size question-titles">
        Sides included here will be included in menu options
      </div>
      <form action="{{ url_for('menusetter') }}" method="post">
        <fieldset>
          <table id="menu-setter-table2" class="menu-table">
            <tr>
              <th>Sides Item</th>
              {#<!--
                <th>Flavors</th>
              -->#}
              <th>Sizes</th>
              <th>Description</th>
            </tr>
            {% for sidesItem in range( sides | length + 1) %}
            <tr>
              <td>
                <input
                  type="text"
                  name="sides{{ sidesItem }}"
                  autocomplete="off"
                  class="form-input-box textarea-size"
                />
              </td>
              {#<!--
                <td>
                  <input
                    autocomplete="off"
                    class="form-input-box"
                    name="sides{{ sidesItem }}flavor"
                    type="text"
                  />
                </td>
              -->
              #}
              <td>
                <input
                  autocomplete="off"
                  class="form-input-box"
                  name="sides{{ sidesItem }}portion"
                  type="text"
                />
              </td>
              <td>
                <input
                  id="{{ sidesItem }}s"
                  autocomplete="off"
                  onclick="showModal('#modal-holder', '{{ sidesItem }}s')"
                  class="form-input-box description"
                  name="sides{{ sidesItem }}des"
                  type="text"
                />
              </td>
            </tr>
            {% endfor %}
          </table>

          <div class="row">
            <div class="col-xs-2">
              <div
                onclick="addRow('#menu-setter-table2', 'sides')"
                class="button button1 question-titles add-row-button"
              >
                Add Row
              </div>
            </div>
            <div class="col-xs-2 col-xs-offset-8">
              <div
                onclick="deleteRow('#menu-setter-table2', '')"
                class="button button1 question-titles delete-row-button"
              >
                Delete Row
              </div>
            </div>
          </div>
          <div class="form-group">
            <button
              name="submit-sides"
              class="submit-button button button1"
              type="submit"
            >
              Submit
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript">
  function showModal(tempId, idNum) {
    let id_of_element = idNum;
    if (typeof id_of_element === "number") {
      id_of_element = id_of_element.toString();
    }
    let modalDiv =
      '<div id="myModal" class="modal"><div id="add-modal-content" class="menu-modal ' +
      'col-lg-4 col-lg-offset-4 col-md-5 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">' +
      '<span class="close">X</span><textarea id="modal-text" name="descript-text" class="menu-text"></textarea></div></div>';
    $(tempId).append(modalDiv);

    let modal = document.getElementById("myModal");
    let text_area = document.getElementById("modal-text");
    let text_target = document.getElementById(id_of_element);
    let span = document.getElementsByClassName("close")[0];
    let done = document.getElementById("done");

    text_area.value = text_target.value;

    modal.style.display = "block";

    text_area.focus();

    text_area.oninput = function() {
      text_target.value = text_area.value;
    };

    span.onclick = function() {
      modal.style.display = "none";
      $(tempId).empty();
    };
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
        $(tempId).empty();
      }
    };
  }
  function addRow(idOfTable, name_prefix) {
    let count = $(idOfTable + " tr").length - 1;

    count = count.toString();
    let table_row_div =
      "<tr>" +
      getColumnString(name_prefix, count, "") +
      getColumn2String(name_prefix, count) +
      getColumnString(name_prefix, count, "portion") +
      getDescriptColString(name_prefix, count) +
      "</tr>";

    $(idOfTable).append(table_row_div);
  }
  function deleteRow(idOfTable) {
    let count = $(idOfTable + " tr").length - 1;
    if (count >= 2) {
      $(idOfTable + " tr:last").remove();
    }
  }

  function getColumn2String(prefix, row_num) {
    if (prefix == "") {
      return (
        '<td> <input autocomplete="off" class="form-input-box" name="' +
        prefix +
        row_num +
        'flavor" type="text" /> </td>'
      );
    }
    return "";
  }

  function getColumnString(prefix, row_num, identifier) {
    if (prefix == "" || prefix == "sides") {
      return (
        '<td><input type="text" name="' +
        prefix +
        row_num +
        identifier +
        '" autocomplete="off" class="form-input-box textarea-size" /> </td>'
      );
    }
    return "";
  }
  function getDescriptColString(prefix, row_num) {
    return (
      "<td>" +
      '<input id="' +
      prefix +
      row_num +
      '" autocomplete="off" onclick="showModal(\'#modal-holder\', \'' +
      prefix +
      row_num +
      "')\" " +
      'class="form-input-box description" name="' +
      prefix +
      row_num +
      'des" type="text"/> </td>'
    );
  }
</script>
{% endblock %}
