{% extends "layout.html" %} {% block title %} Order Placed {% endblock %} {%
block head %}
<script>
  Flask.url_for("order_placed");
</script>
{{ super() }} {% endblock %} {% block main %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 sm-offset-1 main-card lindo-purple">
      <h3 style="text-align:center;" class="lindo-red">
        Thanks for choosing Taco Lindo!
      </h3>
      <div class="row">
        {% for key, value in order.items() %} {% if key != 'order' %} {% if key
        == '_id' %}
        <div class="col-xs-12">
          <span style="text-transform: uppercase;" class="lindo-red"
            >Confirmation Code</span
          >
          {{ value }}
        </div>
        {% else %}
        <div class="col-xs-12">
          <span style="text-transform: uppercase;" class="lindo-red">{{
            key
          }}</span>
          {{ value }}
        </div>
        {% endif %} {% else %}
        <div class="col-sm-12">
          <h4 style="text-transform: uppercase;" class="lindo-red">Order:</h4>
          {% for order_item in order['order'] %}
          <p>
            {{ loop.index }}. {% for order_item_key, order_item_value in
            order_item.items() %} {% if order_item_key == 'count' %}
            <strong>Quantity: </strong>{{ order_item_value }}
            {% elif order_item_key == 'cost' %}
            <strong>Price: </strong>{{ order_item_value }}
            {% else %}
            <strong>{{ order_item_key }}: </strong> {{ order_item_value }}
            {% endif %} {% endfor %}
          </p>
          {% endfor %} {% endif %} {% endfor %}
          <div class="col-xs-12">
            <span style="text-transform: uppercase;" class="lindo-red"
              >Total: </span
            >${{ total }}
          </div>
          <div class="col-xs-12">
            <span style="text-transform: uppercase;" class="lindo-red"
              >Amount Paid:
            </span>
            {{ paid }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <span style="text-transform: uppercase;" class="lindo-red"
            >Comments:</span
          >
          {{ comments }}
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  sessionStorage.clear();
</script>
{% endblock %}
