{% extends "layout.html" %} {% block title %} Order Placed {% endblock %} {%
block head %}
<script>
  Flask.url_for("order_placed");
</script>
{{ super() }} {% endblock %} {% block main %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-10 sm-offset-1 main-card question-titles">
        <h3 style="text-align:center;" class="order-keys">
          Thanks for choosing Taco Lindo!
        </h3>
        <div class="row">
          <div class="col-sm-6">
            <h4 class="order-keys">Contact:</h4>
            <div class="col-xs-12">
              <span class="order-keys">Date: </span> {{ date }}
            </div>
            <div class="col-xs-12">
              <span class="order-keys">Name:</span> {{ name }}
            </div>
            <div class="col-xs-12">
              <span class="order-keys">Phone:</span> {{ phone }}
            </div>
            <div class="col-xs-12">
              <span class="order-keys">Email:</span> {{ email }}
            </div>
            <div class="col-xs-12">
              <span class="order-keys">Address:</span> {{ address }}
            </div>
          </div>
          <div class="col-sm-6">
            <h4 class="order-keys">Order:</h4>
            {% for order_item in order %}
            <p>
              {{ loop.index }}. {% for order_item_key, order_item_value in
              order_item.items() %} {% if order_item_key == 'count' %}
              <strong>Quantity: </strong>{{ order_item_value }}
              {% elif order_item_key == 'cost' %}
              <strong>Price: </strong>{{ order_item_value }}
              {% else %}
              <strong>{{ order_item_key }}: </strong> {{ order_item_value }}
              {% endif %} {% endfor %}
            </p>
            {% endfor %}
            <div class="col-xs-12">
              <span class="order-keys">Total: </span> {{ total }}
            </div>
            <div class="col-xs-12">
              <span class="order-keys">Amount Paid: </span> {{ paid }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <span class="order-keys">Comments:</span> {{ comments }}
          </div>
          {% if confirm_code %}
          <div class="col-xs-12">
            <span class="order-keys">Confirmation Code:</span> {{ code }}
          </div>
          {% else %}
          <div class="col-xs-12">
            <span class="order-keys">Username:</span> {{ code }}
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>
