{% extends "layout.html" %} {% block title %} Set New Password {% endblock %} {%
block head %}
<script>
  Flask.url_for("password_recovery");
</script>
{{ super() }} {% endblock %} {% block main %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 main-card lindo-purple">
      <p class="alert-danger">{{ error }}</p>
      <p>
        Password requires: a lowercase letter, uppercase letter, a number,
        minimum 8 characters
      </p>
      <form action="{{ url_for('password_recovery') }}" method="post">
        <fieldset>
          <div class="form-group">
            <input
              style="width:80%"
              autocomplete="off"
              autofocus
              class="form-control"
              name="new-password"
              placeholder="Enter New Password"
              type="password"
            />
          </div>
          <div class="form-group">
            <input
              style="width:80%"
              autocomplete="off"
              autofocus
              class="form-control"
              name="confirm-new-password"
              placeholder="Confirm New Password"
              type="password"
            />
          </div>
          <div class="form-group">
            <button class="button button1" type="submit">
              Set New Password
            </button>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
{% endblock %}
