{% extends "layout.html" %} {% block title %} My Orders {% endblock %} {% block
head %}
<script>
  Flask.url_for("user_orders");
</script>

{% endblock %} {% block main %}
<div id="modal-holder"></div>
<div class="container-fluid">
  <div class="row">
    <div class="view-button-row">
      <button onclick="showUpcoming()" style="width:49%" class="button button1">
        Upcoming Orders
      </button>
      <button onclick="showPast()" style="width:49%" class="button button1">
        Past Orders
      </button>
    </div>
  </div>
  <div id="future-orders" class="row">
    <div class="col-md-10 col-md-offset-1 main-card lindo-purple">
      <p>
        *Orders may be changed up to 24 hours before the reservation date. *
      </p>
      <p>
        * If you would like make a change after this time please give us a call
        --
        <a
          id="phone-number"
          class="footer-link"
          onclick="copyToClipBoard('phoneNumber')"
        >
          (856) 214-3413</a
        >
        *
      </p>
      <h2 style="text-align:center;" class="confirm-cart-titles">
        Upcoming Orders
      </h2>
      <div id="future-orders-container" class="container-fluid">
        {% if upcoming_orders|length == 0%}
        <div style="min-height:10vh;">
          <h4>There doesn't seem to be anything here.</h4>
        </div>
        {% endif %} {% for each_order in upcoming_orders %}
        <div
          id="{{ each_order.date }}"
          class="row each-order-style order-section"
        >
          <div class="col-md-10 col-md-offset-1">
            <h4 class="lindo-red">
              Contact:
              <!-- prettier-ignore -->
              <div
                id="{{ each_order['_id'] }}EditContact"
                onclick="editContact('#modal-holder', '{{ each_order._id }}')"
                class="button button1 edit-order-button"
              >
                <span class="glyphicon glyphicon-pencil"></span>Edit Contact
              </div>
            </h4>
            {% for key, value in each_order.items() %} {% if key == 'order' %}
            <div class="order-items-section col-xs-12">
              <h4 class="lindo-red">Order:</h4>
              {% if each_order['editable'] %}
              <div
                id="{{ each_order['_id'] }}"
                onclick="editOrder(this)"
                class="button button1 edit-order-button"
              >
                <span class="glyphicon glyphicon-pencil"></span>Edit Order
              </div>
              {% endif %}
              <div>
                {% for order_item in value %}
                <p>
                  {{ loop.index }}. {% for order_item_key, order_item_value in
                  order_item.items() %} {% if order_item_key == 'count' %}
                  <strong>Quantity: </strong>{{ order_item_value }} {% elif
                  order_item_key == 'cost' %} <strong>Price: </strong>${{
                  order_item_value }} {% else %}
                  <strong>{{ order_item_key }}: </strong> {{ order_item_value }}
                  {% endif %} {% endfor %}
                </p>
                {% endfor %}
              </div>
            </div>
            {% elif key == '_id' %}
            <div class="col-sm-xs-12">
              <span style="text-transform: uppercase;" class="lindo-red"
                >Confirmation Code: </span
              ><span id="{{ each_order['_id'] }}{{ key }}"> {{ value }}</span>
            </div>
            {%elif key != 'editable' and key != 'price' and key != 'paid' %}
            <div class="col-xs-12">
              <span style="text-transform: uppercase;" class="lindo-red"
                >{{ key }}: </span
              ><span id="{{ each_order['_id'] }}{{ key }}"> {{ value }}</span>
            </div>
            {% endif %} {% endfor %}
            <span style="text-transform: uppercase;" class="lindo-red"
              >Price:
            </span>
            {% for inner_key, inner_value in each_order["price"].items() %}
            <div>
              <strong style="text-transform: capitalize;"
                >{{ inner_key }}:</strong
              >
              ${{ inner_value }} {% if inner_key == "total" and
              each_order.delivery == "yes"%}<strong
                >(including delivery fee)</strong
              >{% endif %}
            </div>
            {% endfor %}
            <div>
              <strong style="text-transform: capitalize;">Paid:</strong>
              {{ each_order["paid"] }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <div id="past-orders" class="row hidden">
    <div class="col-md-10 col-md-offset-1 main-card lindo-purple">
      <h2 style="text-align:center;" class="confirm-cart-titles">
        Past Orders
      </h2>

      <div id="past-orders-container" class="container-fluid">
        {% if past_orders|length == 0%}
        <div style="min-height:10vh;">
          <h4>There doesn't seem to be anything here.</h4>
        </div>
        {% endif %} {% for each_order in past_orders %}
        <div
          id="{{ each_order.date }}"
          class="row each-order-style order-section"
        >
          <div class="col-md-10 col-md-offset-1">
            <h4 class="lindo-red">Contact:</h4>
            {% for key, value in each_order.items() %} {% if key == 'order' %}
            <div class="order-items-section col-xs-12">
              <h4 class="lindo-red">Order:</h4>
              <div>
                {% for order_item in value %}
                <p>
                  {{ loop.index }}. {% for order_item_key, order_item_value in
                  order_item.items() %} {% if order_item_key == 'count' %}
                  <strong>Quantity: </strong>{{ order_item_value }} {% elif
                  order_item_key == 'cost' %} <strong>Price: </strong>${{
                  order_item_value }} {% else %}
                  <strong>{{ order_item_key }}: </strong> {{ order_item_value }}
                  {% endif %} {% endfor %}
                </p>
                {% endfor %}
              </div>
            </div>
            {% elif key == 'comments' %}
            <div class="col-xs-12">
              <span style="text-transform: uppercase;" class="lindo-red"
                >{{ key }}:
              </span>
              {{ value }}
            </div>
            {% elif key == 'price' %}
            <span style="text-transform: uppercase;" class="lindo-red"
              >{{ key }}:
            </span>
            {% for inner_key, inner_value in each_order[key].items() %}
            <strong>{{ inner_key }}:</strong> {{ inner_value }} {% if inner_key
            == "total" and each_order.delivery == "yes" %} * including delivery
            fee* {% endif %} {% endfor %} {%else %}
            <div class="col-xs-12">
              <span style="text-transform: uppercase;" class="lindo-red"
                >{{ key }}:
              </span>
              {{ value }}
            </div>
            {% endif %}{% endfor %}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='compiled/userOrders.js')}}"></script>
</div>
<style>
  .glyphicon-pencil {
    margin-right: 10px;
  }
  .modal-content {
    min-height: 30vh;
  }
</style>
{% endblock %}
